.prompt{
    height: 100vh;
    width: 0 auto;
    background:url(./paul-fiedler-L-O36LuX9TY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% -250px;
    color: #ffffff;


}

.prompt-erea{   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prompt-inner{
    position: absolute;
    height: 60%;
    width: 95%;
    background: rgba(255,255,255, 0.95);   
    border-radius: 30px;
    top: 90%;
    transform: translateY(-90%);
    padding: 4rem 2rem;
    box-sizing: border-box;
    color: #000000;
    h1{
        margin-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: bold;
    }
    h2{
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
    }


}

.btn1{
    color: #ffffff;
    background: #0FCC41;
    margin-top: 2rem;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 30px;
    font-size: 1.3rem;
    line-height: 1rem;
    cursor: pointer;
    outline: none;
    letter-spacing: 1.5px;

}
.footer-area{
    position: absolute;
    height: 50px;
    width: 90%;
    border-top: solid 1px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 

}
@media screen and (max-width: 1030px){
    .prompt-inner{
        padding: 5rem 3rem;
        h1{
            margin-bottom: 3rem;
        }
        h2{
            margin-bottom: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 766px){
    .prompt-contents{
        width: 80%;
    }

    .prompt-inner{
        text-align: center;
        padding: 3rem 1.5rem;
        h1{
            margin-bottom: 1rem;
            font-size: 1.8rem;
        }
        h2{
            margin-bottom: 0.5rem;
            font-size: 1.3rem;
        }
        p{
            font-size: 1rem;
        }
    }

    .btn1{
        margin-top:1.5rem;
    }

}
